:root {
  font-family: "Open Sans", sans-serif;
}

html {
  background: black;
}

body {
  color: white;
  display: flex-row;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 10rem;
  font-weight: 900;
  width: 100%;
}

.container {
  width: 100%;
  flex-grow: 1;
}

#ytplayer {
  max-width: 100%;
  width: 560px;
  margin: 0 auto;
}

#ytplayer > iframe {
  width: 100%;
  heigh: 100%;
  aspect-ratio: 16 / 9;
}
